language: java
jdk:
  - openjdk8
os:
  - linux
cache:
  directories:
    - ~/.m2/repository
install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true --quiet --batch-mode --show-version
before_script:
  - echo "MAVEN_OPTS=${TEST_MEM_SETTINGS}" > ~/.mavenrc
script:
  - mvn package jacoco:report coveralls:report --batch-mode -Dtest.arguments="${TEST_MEM_SETTINGS}" -P coveralls --quiet
